*{
    margin: 0px;
    padding: 0px;
}
*{word-wrap:break-word}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
ul,ol,dl{list-style-type:none}
html,body{*position:static}
html{font-family: sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button{overflow: visible;vertical-align:middle;outline:none}
body,th,td,button,input,select,textarea{font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";font-size:12px;color: #333;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale}
body{line-height:1.6}
h1,h2,h3,h4,h5,h6{font-size:100%}
a,area{outline:none;blr:expression(this.onFocus=this.blur())}
a{text-decoration:none;cursor: pointer}
a:hover{text-decoration:underline;outline:none}
a.ie6:hover{zoom:1}
a:focus{outline:none}
a:hover,a:active{outline:none}:focus{outline:none}
sub,sup{vertical-align:baseline}
button,input[type="button"], input[type="submit"] {line-height:normal !important}
/*img*/
img{border:0;vertical-align:middle}
a img,img{-ms-interpolation-mode:bicubic}
.img-responsive{max-width: 100%;height: auto}

/*IE下a:hover 背景闪烁*/
*html{overflow:-moz-scrollbars-vertical;zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}

/*HTML5 reset*/
header,footer,section,aside,details,menu,article,section,nav,address,hgroup,figure,figcaption,legend{display:block;margin:0;padding:0}time{display:inline}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
legend{width:100%;margin-bottom:20px;font-size:21px;line-height:40px;border:0;border-bottom:1px solid #e5e5e5}
legend small{font-size:15px;color:#999}
svg:not(:root) {overflow: hidden}
fieldset {border-width:0;padding: 0.35em 0.625em 0.75em;margin: 0 2px;border: 1px solid #c0c0c0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto}
input[type="search"] {-webkit-appearance: textfield; /* 1 */-moz-box-sizing: content-box;-webkit-box-sizing: content-box; /* 2 */box-sizing: content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none}
/*
Name:			style_clearfix
Example:		class="clearfix|cl"
Explain:		Clearfix（简写cl）避免因子元素浮动而导致的父元素高度缺失能问题
*/
.cl:after,.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.cl,.clearfix{zoom:1}
a{
    text-decoration: none;
}

.content{
    display: block;
}
/*.banner{*/
/*margin-top: -30px;*/
/*background-color: black;*/
/*width: 100%;*/
/*height: 500px;*/
/*background-repeat: no-repeat;*/
/*background-image: url("../img/zbdxdt.jpg");*/
/*background-position: center;*/
/*background-size: cover;*/
/*-webkit-transition: all 2s;*/

/*}*/
.banner{
    margin-top: -30px;
}

.banner_radio{
    visibility:hidden;
    opacity: 0;
    position: absolute;
    top: 560px;
    left: 50%;
    margin-left: -40px;

}
.banner_radio li{
    cursor: pointer;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: dimgray;
    float: left;
    margin-left: 5px;
    text-align: center;
    line-height: 18px;
    color: white;

}
.banner_radio li:hover{
    background-color: antiquewhite;
    color: #000;
}
.banner:hover .banner_radio{
    visibility:visible;
    opacity: 1;
    transition: 1s;
}
.trans-fadeout{
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px 3px lightgray;
    z-index: 1000;
}

.nav_log{
    margin-left: 20px;
    float: left;
    padding: 10px;
    height: 100%;
}
.nav_log img{
    height: 100%;
}

.nav_right{
    float: right;
    height: 100%;
}
.nav_right .write_btn{
    font-weight: 700;
    font-size: 16px;
    float: right;
    text-align: center;
    margin: 5px;
    margin-right: 25px;
    margin-top: 10px;
    height: 70%;
    width: 100px;
    color: white;
    background-color: #ff7b4c;
    border-radius: 50px;
    transition: all 0.5s;
    cursor: pointer;
}
.nav_right .write_btn a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    line-height: 40px;
    text-decoration: none;
    color: white;
}
.nav_right .write_btn a::before {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}
.nav_right .write_btn:hover a {
    padding-left: 10px;
}
.nav_right .write_btn:hover a:before {
    opacity: 1;
    left: 0px;
}


.nav_sec{
    padding-right: 10px;
    margin-right: 15px;
    float: right;
    height: 100%;
    width: 70px;
    background-color: white;
    cursor: pointer;

}
.nav_sec:hover{
    background-color: lightgray;
}
.headpic{
    margin-left: 15px;
    margin-top: 13px;
    width: 60%;
    height: 60%;
    border-radius: 50px;
    background-color: white;
    position: relative;

}
.headpic img{
    width: 100%;
    border-radius: 50px;
    height: 100%;
}
.headpic::after {
    content: "";
    color: gray;
    position: absolute;
    padding-left: 10px;
    padding-top: 8px;
}
.nav_sec:hover .nav_list{
    display: block;
}

.nav_list{
    position: absolute;
    z-index: 1000;
    display: none;
    margin-top: 10px;
    width: 150px;
    height: auto;
    background-color: white;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}

.nav_list ul{
    display: inline-block;
    width: 100%;
}
.nav_list li{
    vertical-align:text-top;
    float: left;
    font-size: 16px;
    width: 150px;
    margin: 10px;
    text-align: left ;
    line-height: 50px;
    color: black;
    height: 50px;
    list-style: none;

}
.nav_list li:hover{
    background-color: #a2fbff;
    box-shadow: 1px 1px 1px 1px gainsboro;
}

.test{
    height: 80px;
    width: 100%;
    background-color: white;
}

.nav_left{
    height: 100%;
    width: 30%;
    display: flex;
    display: -webkit-flex;
    background-color: white;
    justify-content: center;
    -webkit-justify-content: center;
}

.flex-item {
    font-size: 18px;
    color: orange;
    text-align: center;
    line-height: 60px;
    width: 90px;
    background-color: white;
    height: 100%;
    padding-left: 30px;
}
.flex-item:first-child{
    padding-left: 0px;
}
.flex-item a{
    display: block;
    color: orange;
}

.flex-item:hover .nav_list{
    vertical-align:text-top;
    margin-left: -100px;
    width: 1020px;
    margin-top: 0px;
    display: block;
}


/*jianshu*/
.note_list_widthLimit{

    width:100%;
}
.note_list{

    height: auto;
    background-color: white;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
.note_list >li{
    list-style: none;
    height: 220px;
    border-bottom: 1px solid lavender;
}
.note_img{

    margin-top: 10px;
    width: 150px;
    float: right;
    height: 160px;
    z-index: 999;
}
.note_img .card {
    width: 100%;
    height: 120%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.note_img .header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 40px;
}

.note_img .container1 {
    padding: 10px;
}
.note_Content_left{
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;
    padding-right: 160px;
}
.note_author{
    width: 100%;
    float: left;
    display: inline-block;
    height: 32px;
    text-align: left;
    line-height: 32px;
}
.note_nickname{
    display: inline-block;
    font-size: 13px;
    color: black;!important;
    line-height: 32px;
    margin: 5px;
    margin-left: 10px;

}

.note_data{
    margin: 5px;
    line-height: 32px;
    font-size: 13px;
    display: inline-block;
    color: #969696;
}

.note_title{
    font-weight: 700;
    padding-right: 5px;
    margin-left: 10px;

    font-size: 20px;
    text-align: left;
    color: black;
    padding-bottom: 5px;
    overflow: hidden;
    height: auto;
}
.note_title a{
    text-decoration: none;
    color: black;
}
.note_title a:hover{
    color: #969696;
}
.abstract {
    margin-bottom: 5px;
    text-align: left;
    overflow: hidden;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    line-height: 24px;
    max-height: 300px;
}
.abstract a{
    text-decoration: none;
    color: #969696 ;
}
.note_category{
    float: left;
    text-align: left;

    margin-left: 10px;
    color: black;
    padding: 5px;
    border: 2px solid #cc6666;
    font-size: 13px;
    border-radius: 4px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap

}
.note_category li{
    width: 100%;
    height: 100%;
    float: left;
}
.note_category:hover{
    background-color: green;
}




@keyframes shake {
    0%{
        transform:perspective(1000px) rotateX(0);
    }
    20%{
        transform:perspective(1000px) rotateX(-30deg);
    }
    40%{
        transform:perspective(1000px) rotateX(0);
    }
    60%{
        transform:perspective(1000px) rotateX(30deg);
    }
    80%{
        transform:perspective(1000px) rotateX(0deg);
    }
    100%{
        transform:perspective(1000px) rotateX(0);
    }
}
.note_img:hover{
    animation:shake 0.5s ease-in 2!important;
    top:0;
}

.totop{
    position: fixed;
    top: 90%;
    left: 100%;
    margin-left: -70px;
    border-radius: 50px;
    background-color: #00c4ff;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 40px;
    line-height: 60px;
    cursor: pointer;
}
.totop:hover{
    background-color: #00a8c6;
}


.footer_logo{
    background-repeat: no-repeat;
    width: 100%;
    height: 87px;
    background-position: center;
    background-image: url("../img/zhihu.png");
}
.footer{
    margin-top: 50px;
    width: 100%;
    float: left;
    background-image: url("../img/中北大学图书馆.jpg");
    background-size: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    text-align: center;
}
.footer_link{
    height: 70px;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
}


.footer_link li{
    float: left;
    width: 70px;
    height: 14px;
    text-align: center;
}
.footer_link a{
    float: left;
    width: 80px;
    height: 40px;
    text-align: center;
    padding-top: 40px;
    font-size: 14px;
    color: white;
}
.footer_copy{
    font-size: 14px;
    color: white;
}


/*.banner:hover{*/
/*-webkit-transform: scale(0.9);*/

/*transform: scale(0.9);*/
/*}*/

@media screen and (max-width: 630px) {
    .flex-item:nth-child(1){
        font-size: 0px;

        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../img/faxian.png");
    }
    .flex-item:nth-child(2){
        margin-top: 1px;

        font-size: 0px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../img/dushu.png");
    }
    .flex-item:nth-child(3){
        font-size: 0px;

        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../img/lingdang.png");
    }
    .flex-item:nth-child(3) .nav_list{
        font-size: 16px;
        width: 100px;
    }
    .note_list > li{
        height: 270px;
    }
}


.md{
    width: 100%;
    text-align: left;
    display: none;
}
.md_category{

}




/*轮播图*/

.bottom{
    background: #003466;
    overflow: hidden;
    margin-top: 0px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 25px;
    padding-left: 0px;
    min-width:1165px;
}
.bottom_con{
    background:#003466;
    overflow:hidden;
    width:1165px;
    margin:0 auto;
}
.bottom_con .link{
    float:left;
    width:260px;
    margin-right:25px;}
.bottom_con .link .tit{
    text-align:left;
    line-height:35px;
    font-size:15px;
    font-family:"微软雅黑";
    color:#98bee3;
    width:275px;}
.bottom_con .link .con{
    margin-left:15px;
    border-right:1px dotted #98bee3;
    overflow:hidden;
    height:230px;
}
.bottom_con .link ul li{
    text-align:left;
    float:left;
    color:#98bee3;
    font-family:"微软雅黑";
    line-height:33px;
    font-size:12px;
    width:120px;}
.bottom_con .link ul li a{
    color:#98bee3;
}
.bottom_con .link ul li a:hover {
    color:#98bee3;
}
.bottom_con .bq{
    line-height:28px;
    font-size:12px;
    text-align:right;
    color:#98bee3;
    float:right;
    width:300px;
    padding-top:30px;}
.bottom_con .bq ul li{
    float:left;
    padding-top:10px;
    margin-right:20px;
    margin-left:20px;
}
.bottom_con .bq ul li span{
    padding-top:15px;
    margin:0px;
    padding:0px;
    display:block;
    font-size:14px;
    color:#98bee3;}



.zjzb{
    background:#EDEDED;
    overflow:hidden;
    min-width:1165px;
    padding:10px 0px 25px 0px;
}
.zjzb_tit{
    margin:0 auto;
    border-bottom:1px dashed #bbbbbb;
    height:45px;
    width:1165px;
    min-width:1165px;
    line-height:35px;
    font-size:24px;
    font-family:"微软雅黑";
    color:#444444;
    background:#EDEDED;
}
.zjzb_con{
    background:#EDEDED;
    overflow:hidden;
    width:1165px;
    min-width:1165px;
    margin:0 auto;
    margin-top:25px;
}
.zjzb_con ul li{
    float:left;
    width:276px;
    height:186px;
    position:relative;
    cursor:pointer;
}
.zjzb_con ul li .font{
    position:absolute; left:0; top:154px; color:#fff; font-family:"微软雅黑"; text-align:center; font-size:14px; padding-right:15px; line-height:32px; width:261px; background:#000;background-color:rgba(0,0,0,0.6);
}
.zjzb_con span{
    float:left;
    display:inline-block;
    width:20px;
    height:186px;
}
.zjzb_con ul li img{
    width:276px;
    height:186px;
}
.zjzb_con ul li img:hover{
    width:276px;
    height:186px;
    opacity:0.8;
}

.event_1_right{
    margin-top: 50px;
    margin-left: 25%;

    text-align: center;
    overflow: hidden;
}
.event_1_right .kstd1{
    width: 580px;
    overflow: hidden;
    border-bottom: 1px solid #cccccc;
}
.event_1_right .kstd1 ul li{
    float:left;
    cursor:pointer;
}
.event_1_right .kstd1 ul li span{
    padding-left:10px;
    float:left;
}
.event_1_right .kstd1 ul li font{
    float:left;
    color:#ffffff;
    line-height:56px;
    font-family:"微软雅黑";
    font-size:15px;
    padding-left:10px;
}
.event_1_right .kstd1 ul .link1{
    width:176px;
    height:56px;
    margin-right:24px;
    margin-bottom:20px;
    background:#8a9046;
    float:left;}
.event_1_right .kstd1 ul .link2{
    width:176px;
    height:56px;
    margin-right:24px;
    margin-bottom:20px;
    background:#3e759b;}
.event_1_right .kstd1 ul .link3{
    width:176px;
    height:56px;
    margin-bottom:20px;
    background:#7d7b7c;}
.event_1_right .kstd1 ul .link4{
    width:176px;
    height:56px;
    margin-right:24px;
    margin-bottom:25px;
    background:#a88b61;}
.event_1_right .kstd1 ul .link5{
    width:176px;
    height:56px;
    margin-right:24px;
    margin-bottom:25px;
    background:#c26623;}
.event_1_right .kstd1 ul .link6{
    width:176px;
    height:56px;
    margin-bottom:25px;
    background:#903932;}


.note_teamname{
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #6ee3ff;
}
/*改大小*/
#note_content1{
    font-size: 16px;
}
#note_content2{
    font-size: 16px;
}
#note_content3{
    font-size: 16px;
}
#note_content4{
    font-size: 16px;
}
#note_content5{
    font-size: 16px;
}
/*学院*/

.userdesktop { width:100%; height:70px; overflow:hidden; background:#9e0000}
.userdesktop h3 {display:none;}
.userdesktop ul {width:1000px; margin:0 auto; overflow:hidden;height:70px; background:url(images/logo.png) left center no-repeat; text-align:right;}
.userdesktop ul li { display:inline}
.userdesktop ul li a{ color:#ffffff; font:normal 14px/70px "microsoft YaHei"; padding:0px 0px 0px 20px;cursor:pointer;}  .userdesktop h2, .userDesktop_125376515831257995 .userdesktop h3 { display:none;}



.homepage { width:100%; height:auto !important; height:500px; min-height:500px; overflow:hidden;}
.homepage:after {content:".";height:0;display:block;clear:both;visibility:hidden;}
.zjbq {display:none!important;}
.fhbqInfodiv { display:none;}



.WebserviceControl{width:402px; overflow:hidden;float:left; height:240px;position:relative;}
.WebserviceControl h3{ height:28px;  background:url(images/tbg2.gif) repeat-x 0 bottom;margin-bottom:9px; text-align:left; }
.WebserviceControl h3 span{ color:#444; font-size:16px; display:block; height:31px;line-height:26px;background:url(images/title_bg.gif) no-repeat 0 bottom;}
.WebserviceControl .more a{ position:absolute; display:block; width:43px; height:13px;background:url(images/jia.gif) no-repeat right 6px; color:#6b6b6b; font-size:12px;top:7px; right:5px;}
.WebserviceControl .webli{padding:0 15px;}
.WebserviceControl .webli li{height:29px; line-height:29px; *height:26px; *line-height:26px; overflow: hidden;}
.WebserviceControl .webli li a{float:left; background: url(../img/dian.gif) no-repeat left 10px; padding-left:15px; font:normal 13px/28px "microsoft YaHei"}
.WebserviceControl .webli li a:hover{ text-decoration:none;}
.WebserviceControl .webli li .time{ float:right; color:#888; display:block;}
.WebserviceControl .webli li .time label{color:red;font-size: 12px;}




/*body*/
body{
    background-color: white;
    text-align: center;
    background-color: #fafafa;
}
.content_box{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: auto;
}

.news{ width:100%; height:340px; background:#ffffff;
    padding:25px; border-top: 10px solid black;}
.news .new_tit1{ width:300px; height:37px; line-height:37px; text-align:center; color:#ffffff; font-size:16px; background:url(../img/new_list01.png); z-index:999; position: absolute; left:50%; margin-left:-150px; margin-top:-42px;}
.news .new_tit2{ width:300px; height:37px; line-height:37px; text-align:center; color:#ffffff; font-size:16px; background:url(../img/new_list02.png); z-index:999; position: absolute; left:50%; margin-left:-150px; margin-top:-42px;}
.news .new_tit3{ width:300px; height:37px; line-height:37px; text-align:center; color:#ffffff; font-size:16px; background:url(../img/new_list03.png); z-index:999; position: absolute; left:50%; margin-left:-150px; margin-top:-42px;}
.news .new_tit4{ width:300px; height:37px; line-height:37px; text-align:center; color:#ffffff; font-size:16px; background:url(../img/new_list04.png); z-index:999; position: absolute; left:50%; margin-left:-150px; margin-top:-42px;}
.news .new_tit5{ width:300px; height:37px; line-height:37px; text-align:center; color:#ffffff; font-size:16px; background:url(../img/new_list03.png); z-index:999; position: absolute; left:50%; margin-left:-150px; margin-top:-42px;}
.news .new_tit6{ width:300px; height:37px; line-height:37px; text-align:center; color:#ffffff; font-size:16px; background:url(../img/new_list01.png); z-index:999; position: absolute; left:50%; margin-left:-150px; margin-top:-42px;}
.news .new_tit7{ width:300px; height:37px; line-height:37px; text-align:center; color:#ffffff; font-size:16px; background:url(../img/new_list02.png); z-index:999; position: absolute; left:50%; margin-left:-150px; margin-top:-42px;}
.news .new_tit8{ width:300px; height:37px; line-height:37px; text-align:center; color:#ffffff; font-size:16px; background:url(../img/new_list03.png); z-index:999; position: absolute; left:50%; margin-left:-150px; margin-top:-42px;}
.news .new_tit9{ width:300px; height:37px; line-height:37px; text-align:center; color:#ffffff; font-size:16px; background:url(../img/new_list04.png); z-index:999; position: absolute; left:50%; margin-left:-150px; margin-top:-42px;}
.news .new_tit10{ width:300px; height:37px; line-height:37px; text-align:center; color:#ffffff; font-size:16px; background:url(../img/new_list02.png); z-index:999; position: absolute; left:50%; margin-left:-150px; margin-top:-42px;}
.news .new_tit11{ width:300px; height:37px; line-height:37px; text-align:center; color:#ffffff; font-size:16px; background:url(../img/new_list01.png); z-index:999; position: absolute; left:50%; margin-left:-150px; margin-top:-42px;}
.news .new_tit12{ width:300px; height:37px; line-height:37px; text-align:center; color:#ffffff; font-size:16px; background:url(../img/new_list04.png); z-index:999; position: absolute; left:50%; margin-left:-150px; margin-top:-42px;}
.news .new_tit13{ width:300px; height:37px; line-height:37px; text-align:center; color:#ffffff; font-size:16px; background:url(../img/new_list03.png); z-index:999; position: absolute; left:50%; margin-left:-150px; margin-top:-42px;}
.news .new_tit14{ width:300px; height:37px; line-height:37px; text-align:center; color:#ffffff; font-size:16px; background:url(../img/new_list01.png); z-index:999; position: absolute; left:50%; margin-left:-150px; margin-top:-42px;}
.news .new_tit15{ width:300px; height:37px; line-height:37px; text-align:center; color:#ffffff; font-size:16px; background:url(../img/new_list02.png); z-index:999; position: absolute; left:50%; margin-left:-150px; margin-top:-42px;}
.news .new_tit16{ width:300px; height:37px; line-height:37px; text-align:center; color:#ffffff; font-size:16px; background:url(../img/new_list03.png); z-index:999; position: absolute; left:50%; margin-left:-150px; margin-top:-42px;}


/*.news_01 .tqkx{ width:360px; margin-left:22px;}*/
.news .tqkx .tit{ width:100%; height:48px; line-height:48px; border-bottom:1px dashed #cccccc; margin-bottom:20px;}
.news .tqkx .tit span{ float:left; width:50px; height:48px; background:url(../img/ico_list.png) no-repeat -50px 0px; }
.news .tqkx .tit h3{ float:left; font-size:20px; color:#0E3248; font-weight:normal; }
.news .tqkx .tit a{ float:right; font-size:14px; color:#0E3248;}
/*.news_01 .tqkx ul li{ height:95px; width:360px;}*/
/*.news_01 .tqkx ul li team{ float:left; width:100px; height:75px; padding-right:15px;}*/
/*.news_01 .tqkx ul li p{ line-height:26px; font-size:14px; color:#0E3248;}*/
/*.news_01 .tqkx ul li p a{color:#0E3248;}*/



/*.news_01 .zytz{ width:360px; margin-left:22px;}*/
/*.news_01 .zytz .tit{ width:360px; height:48px; line-height:48px; border-bottom:1px dashed #cccccc; margin-bottom:20px;}*/
/*.news_01 .zytz .tit span{ float:left; width:50px; height:48px; background:url(../img/ico_list.png) no-repeat -95px 0px; }*/
/*.news_01 .zytz .tit h3{ float:left; font-size:20px; color:#0E3248; font-weight:normal; }*/
/*.news_01 .zytz .tit a{ float:right; font-size:14px; color:#0E3248;}*/
/*.news_01 .zytz ul li{ height:41px; width:360px; font-size:14px; color:#0E3248;}*/
/*.news_01 .zytz ul li a{ float:left; color:#0E3248;}*/
/*.news_01 .zytz ul li span{ float:right;}*/
.nologin{
    float: right;
    font-family: "微软雅黑";
    line-height: 60px;
    color: #0a6999;
    border-bottom: none;
}
.nologin>a{
    color: #0a6999;
    border-bottom: none;
    text-decoration: none;
}

